@import "bootstrap-sprockets";
@import "bootstrap";

body {
   font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande",      sans-serif;
   font-weight: 300;
}

#logo {
  float: left;
  font-size: 2.0em;
  letter-spacing: -1px;
}

.center {
  text-align: center;
}

.jumbotron {
  margin-top: 40px;
}

.jumbotron h1 {
  margin-bottom: 50px;
  font-weight: 300;
}

.footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

.article-actions {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
}

.article-title {
  font-size: 1.5em;
}

.article-body {
  border-top: 1px, solid, #eaeaea;
  padding-top: 15px;
  padding-bottom: 15px;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}